.footer {
    padding: 66px 0 70px 0;
    background: #000000;
    min-width: 320px;
    // .footer__title
    &__title {
       @include title-font-style;
       color: #FEFEFE;
    }
    // .footer__text--large
    &__text--large {
       position: relative;
       right: 4px;
       margin: 16px 0 30px 0 ;
       @include footer-text-fs;
    }
    &__text--small {
       @extend .footer__text--large;
       margin: 2px 0 19px 0 ;
       display: none;
    }
    // .footer__icons-container
    &__icons-container {
       @include flex-center;
       justify-content: space-between;
       max-width: 194px;
       margin: 0 auto;
    }
    // .footer__contacts
    &__contacts {
       display: inline-flex;
       font-size: 16px;
       line-height: 26px;
       color: $footer-text-color;
    }
    }
    .footer-container {
       @include container;
       max-width: 690px;
    }
    .icons {
       .icon{
          display: block;
          width: 34px;
          height: 34px;
          border-radius: 50%;
          transition-duration: 0.3s;
          
       }
       .icon:active{
          transform: translateY(-2px);
       }
    // .icons__icon
    &__icon {
       // .icons__icon--rss
       &--rss {
          background: url("@img/icons/rss-icon.png") no-repeat center center;
          border: 2px solid #F8902E;
       }
       &--rss:hover{
          box-shadow: 0 0 7px #F8902E;
       }
       // .icons__icon--facebook
       &--facebook {
          background: url("@img/icons/facebook-icon.png") no-repeat center center;
          border: 2px solid #39599F;
       }
       &--facebook:hover{
          box-shadow: 0 0 7px #39599F;
       }
       // .icons__icon--twiter
       &--twiter {
          background: url("@img/icons/twitter-icon.png") no-repeat center center;
          border: 2px solid #45B0E3;
       }
       &--twiter:hover{
          box-shadow: 0 0 7px #45B0E3;
       }
       // .icons__icon--dribble
       &--dribble {
          background: url("@img/icons/dribbble-icon.png") no-repeat center center;
          border: 2px solid #D97AB0;
       }
       &--dribble:hover{
          box-shadow: 0 0 7px #D97AB0;
       }
       // .icons__icon--pinterest
       &--pinterest {
          background: url("@img/icons/pinterest-icon.png") no-repeat center center;
          border: 2px solid #CC212C;
       }
       &--pinterest:hover{
          box-shadow: 0 0 7px #CC212C;
       }
    }
    }
    .contacts {
       margin-top: 34px;
    // .contacts__adress
    &__adress {
       position: relative;
       right: 27px;
       font-style: normal;
    }
    &__adress::after  {
       content: ' / ';
       position: absolute;
       top: 0;
       right: -18px;
    }
    // .contacts__phone
    &__phone {
       position: relative;
       right: -3px;
    }
    &__phone::after {
       content: ' / ';
       position: absolute;
       top: 0;
       right: -18px;
    }
    // .contacts__email
    &__email {
       position: relative;
       right: -33px;
    }
 }
 
 @media (max-width: 1199px) {
    .footer {
       padding: 57px 0 56px 0;
    }
 }
 
 @media (max-width: 767px) {
    .footer {
       padding: 36px 0 47px 0;
    }
    .footer-container{
       max-width: 303px;
    }
    .footer__text--large {
       display: none;
    }
    .footer__text--small {
       display: block;
    }
    .footer__contacts{
       display: flex;
       flex-direction: column;
       font-size: 14px;
       line-height: 24px;
    }
    .contacts {
       margin-top: 25px;
    }
    .contacts__adress {
       position: relative;
       right: 0;
    }
    .contacts__adress::after {
       right: calc(50% - 115px);
    }
    .contacts__phone {
       position: relative;
       right: 0;
    }
    .contacts__phone::after {
       right: calc(50% - 85px);
    }
    .contacts__email {
       position: relative;
       right: 0;
    }
 }
 
 