.main {
    // .main__img
    &__img {
       width: 100%;
       margin: 16px 0 66px 0;
    }
    // .main__cards
    &__cards {
       text-align: left;
    }
 
    }
    .cards {
    // .cards__container
    &__container{
       margin: 24px 0 37px 0;
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
    }
    // .cards__card
    &__card {
       display: inline-flex;
       margin-bottom: 32px;
    }
 
    }
    .card {
    // .card__img
    &__img {
       width: 160px;
       height: 140px;
       margin-right: 21px;
    }
 
    }
    .card-content {
       max-width: 379px;
       // max-width: 404px;
    // .card-content__title
    &__title {
       @include title-font-style;
       line-height: 30px;
       text-transform: none;
    }
    // .card-content__info
    &__info {
       display: inline-flex;
       padding-bottom: 7px;
       @include subtitle-font-style;
    }
    // .card-content__text
    &__text {
       @include text-font-style;
    }
    }
    
    .info {
    // .info__info-coments
    &__info-coments{
       position: relative;
       left: 25px;
    }
    &__info-coments::before {
       content: ' / ';
       position: absolute;
       top: 0;
       left: -14px;
    }
    }
 
 .insta {
    background: rgba(0, 0, 0, 0.03);
    min-width: 320px;
    padding: 47px 0 49px 0;
    // .insta__titles
    &__titles {
       display: flex;
       justify-content: space-between;
    }
    // .insta__title-large
    &__title-large:last-child {
       font-size: 13px;
    }
    // .insta__title-small
    &__title-small{
       display: none;
    }
    // .insta__img-containe
    &__img-container{
       padding-top: 24px;
       display: flex;
       justify-content: space-between;
    }
    // .insta__img
    &__img {
       width: 285px;
       height: 285px;
    }
    &__img:last-child {
       margin: 0;
       width: 285px;
       height: 285px;
    }
 }
 
 @media (max-width: 1199px) {
    .cards__container{
       flex-direction: column;
    }
    .insta__img {
       width: 242px;
       height: 242px;
    }
    .insta__img:last-child{
       display: none;
    } 
 }
 @media (max-width: 767px) {
    .card-content__text{
       display: none;
    }
    .cards__card{
       display: block;
       width: 100%;
    }
    .insta__title-large{
       display: none;
    }
    .insta__title-small{
       display: block;
    }
    .insta__img:not(:first-child){
       display: none;
    }
    .insta__img {
       max-width: 301px;
       width: 100%;
       height: auto;
    }
 }
 